/** {
  border: 1px dashed red;
}*/

body {
  font: 12px/11px gotham_proregular, arial, helvetica, sans-serif;
  margin: 0;
}

a {
  color: #000;
}

.wrapper {
  width: 88%;
  margin: auto;
}

.header {
  padding-top: 28px;
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toggle,
.toggle-container {
  display: none;
}

.header__menu {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 55px;
  height: 55px;
  background: url('img/Axion-logo-1.svg') no-repeat center center;
}

.header__nav {
  margin-top: 20px;
  margin-left: 45px;
  display: flex;
  justify-content: space-between;
}

.menu__item {
  margin-right: 35px;
  text-transform: uppercase;
  text-decoration: none;
  font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
}

.menu__item:last-child {
  margin-right: 0;
}

.header__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-search {
  margin-left: 0;
}

.user-search form {
  padding-top: 5px;
  height: 20px;
  margin-right: 35px;
  display: flex;
}

.user-search input {
  width: 157px;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
}

.user-search button {
  width: 17px;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent url(img/loupe.svg) no-repeat center center;
}

.user-login {
  margin-right: 35px;
  font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
}

.user-cart {
  margin-right: 35px;
  font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
}

.user-cart span {
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
  font: 10px/15px gotham_probold, arial, helvetica, sans-serif;
}

.user-lang {
  width: 20px;
  height: 20px;
  background: no-repeat url('img/united-states.png') center;
  margin-top: 1px;
}

.banner {
  margin: 0 auto;
  margin-bottom: 51px;
  width: 1030px;
  height: 281px;
  background: url('img/rob-potter-422534-unsplash.jpg');
}

.banner__title {
  margin: 0;
  width: 195px;
  padding-top: 89px;
  padding-left: 59px;
  font: 30px/29px gotham_probold, arial, helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.banner__link {
  position: relative;
  display: block;
  margin-top: 17px;
  padding-left: 59px;
  font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.banner__link::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: url('img/Arrow.png') no-repeat;
  top: 20%;
  right: -13.3%;
}

.feature {
  margin-bottom: 54px;
}

.feature__title {
  text-align: center;
  font: 22px/21px gotham_probold, arial, helvetica, sans-serif;
  text-transform: uppercase;
}

.feature__inner {
  display: flex;
  justify-content: space-between;
}

.feature__decoration {
  width: 3px;
  background-image: url('img/decoration.png');
  opacity: 0.2;
  background-position: center center;
  background-repeat: no-repeat;
}

.feature__item {
  position: relative;
  width: 230px;
}

.feature__item:nth-child(1)::after {
  position: absolute;
  display: block;
  content: '';
  width: 1px;
  height: 100.18px;
  background: #000;
  top: 18%;
  right: -8.5%;
  opacity: 0.2;
}

.feature__item:nth-child(2)::after {
  position: absolute;
  display: block;
  content: '';
  width: 1px;
  height: 100.18px;
  background: #000;
  top: 18%;
  right: -8.5%;
  opacity: 0.2;
}

.feature__item:nth-child(3)::after {
  position: absolute;
  display: block;
  content: '';
  width: 1px;
  height: 100.18px;
  background: #000;
  top: 18%;
  right: -8.5%;
  opacity: 0.2;
}

.feature__item-img {
  padding-left: 23px;
  padding-top: 2px;
  margin-bottom: 27px;
}

.feature__item:nth-child(3) .feature__item-img {
  padding-right: 3px;
}

.feature__item:nth-child(4) .feature__item-img {
  padding-right: 19px;
}

.feature__item-title {
  margin: 0;
  margin-bottom: 6px;
  font: 12px/11px gotham_proregular, arial, helvetica, sans-serif;
}

.feature__item-title,
.feature__wrapper {
  padding-left: 12px;
}

.feature__wrapper {
  display: flex;
  justify-content: space-between;
}

.feature__item-price {
  font: 14px/14px gotham_probold, arial, helvetica, sans-serif;
}

.feature__item-colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature__color {
  margin-right: 8px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.feature__color:last-child {
  margin-right: 11px;
}

.active {
  width: 9px;
  height: 9px;
}

.color_grey {
  background-color: #c4c4c4;
}

.color_black {
  background-color: #0e1211;
}

.color_red {
  background: #b62e3c;
}

.color_yellow {
  background: #fdb431;
}

.color_orange {
  background: #e29d69;
}

.color_brown {
  background: #762e31;
}

.color_dark-blue {
  background: #41479b;
}

.color_blue {
  background: #257da9;
}

.history {
  margin: 0 auto;
  width: 1030px;
  display: flex;
  background: #000;
}

.history__video {
  width: 644px;
  height: 362px;
  margin-top: 67px;
  margin-left: 33px;
  margin-bottom: 65px;
}

.history__inner {
  margin-top: 133px;
  margin-left: 42px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.history__title {
  margin-bottom: 16px;
  color: #fff;
  font: 22px/27px gotham_probold, arial, helvetica, sans-serif;
  text-transform: uppercase;
}

.history__excerpt {
  margin: 0;
  margin-bottom: 21px;
  color: #fff;
  font: 14px/17px gotham_proregular, arial, helvetica, sans-serif;
}

.history__link {
  position: relative;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
}

.history__link::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: url(img/Arrow.png) no-repeat;
  top: 20%;
  right: -34.3%;
}

.news__inner {
  display: flex;
}

.gallery__inner {
  display: flex;
}

.footer__wrapper {
  display: flex;
}

.social {
  display: flex;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 91%;
  }

  .header__logo {
    margin-left: 4px;
  }

  .header__nav {
    margin-left: 32px;
  }

  .user-search form {
    height: 23px;
    margin-right: 30px;
  }

  .user-search input {
    width: 141px;
  }

  .user-login {
    margin-right: 27px;
  }

  .user-cart {
    margin-top: 3px;
    margin-right: 27px;
  }

  .user-cart span {
    width: 14px;
  }

  .user-lang {
    width: 19px;
  }

  .header {
    margin-bottom: 41px;
  }

  .banner {
    margin: 0 auto;
    width: 930px;
    height: 254px;
    background: center url('img/rob-potter-422534-unsplash-1024.jpg');
  }

  .banner__title {
    padding-top: 75px;
    padding-left: 54px;
  }

  .banner__link {
    margin-top: 11px;
    padding-left: 54px;
  }

  .banner__link::after {
    right: -15%;
  }

  .feature__title {
    margin-top: 64px;
  }

  .feature__item-img {
    padding-top: 6px;
    padding-right: 10px;
    margin-bottom: 33px;
    width: 169px;
    height: 163px;
  }

  .feature__item:nth-child(2) {
    padding-left: 39px;
  }

  .feature__item:nth-child(3) {
    padding-left: 36px;
  }

  .feature__item:nth-child(4) {
    padding-left: 42px;
  }

  .feature__item:nth-child(1)::after {
    right: -12.5%;
  }

  .feature__item:nth-child(2)::after {
    right: -9.5%;
  }

  .feature__item:nth-child(3)::after {
    right: -11.5%;
  }

  .feature__color:last-child {
    margin-right: 3px;
  }

  .feature__color {
    margin-right: 7px;
  }

  .feature__item:nth-child(3) .feature__color {
    margin-right: 6px;
  }

  .feature__item:nth-child(3) .feature__color:last-child {
    margin-right: 0px;
  }

  .feature__item:nth-child(4) .feature__color {
    margin-right: 6px;
  }

  .feature__item:nth-child(4) .feature__color:last-child {
    margin-right: 12px;
  }

  .feature {
    margin-bottom: 79px;
  }

  .history {
    width: 930px;
  }

  .history__video {
    width: 579px;
    height: 325px;
    margin-top: 59px;
    margin-left: 30px;
    margin-bottom: 58px;
  }

  .history__inner {
    margin-top: 114px;
    margin-left: 38px;
    margin-right: 30px;
  }

  .history__title {
    margin-bottom: 9px;
  }

  .history__excerpt {
    margin-bottom: 17px;
    font: 13px/16px gotham_proregular, arial, helvetica, sans-serif;
  }

  .history__link::after {
    right: -39.3%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
  }

  .header__logo {
    margin-top: 7px;
    margin-left: 43px;
    width: 156px;
    height: 34px;
    background: no-repeat url('img/Axion-logo-1.png');
  }

  .toggle-container {
    display: block;
    position: absolute;
    top: 16px;
    right: 21px;
  }

  .line::before {
    content: '';
    position: absolute;
    background: #000;
    height: 9px;
    width: 61px;
    top: 30px;
    right: 23px;
  }

  .line::after {
    content: '';
    position: absolute;
    top: 47px;
    right: 23px;
    background: #000;
    height: 9px;
    width: 61px;
  }

  .header__nav,
  .header__user {
    display: none;
    margin-top: -23px;
    margin-left: 26px;
  }

  #toggle:checked ~ .header__nav {
    margin-top: 20px;
    margin-left: -80px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header__nav {
    margin: 0;
  }

  .menu__item {
    width: 400px;
    font: 40px/40px gotham_probold, arial, helvetica, sans-serif;
    margin: 0;
    margin-bottom: 10px;
  }

  #toggle:checked ~ .toggle-container > .line::after {
    transform: rotate(45deg);
    top: 30px;
  }

  #toggle:checked ~ .toggle-container > .line::before {
    transform: rotate(135deg);
    top: 30px;
  }

  .header {
    margin-bottom: 39px;
  }

  .banner {
    width: 100%;
    height: 415px;
    background-position: 17.2% 7%;
    background-size: 200%;
  }

  .banner__title {
    padding-top: 121px;
    padding-left: 44px;
    font: 50px/48px gotham_probold, arial, helvetica, sans-serif;
  }

  .banner__link {
    margin-top: 47px;
    padding-left: 44px;
    font: 20px/20px gotham_probold, arial, helvetica, sans-serif;
  }

  .banner__link::after {
    background: no-repeat url('img/Arrow-123.png');
    top: 3px;
    left: 22.5%;
  }

  .feature__title {
    margin-right: 16px;
    font: 30px/28px gotham_probold, arial, helvetica, sans-serif;
  }

  .feature__item {
    width: 270px;
  }

  .feature__item:nth-child(3) {
    display: none;
  }

  .feature__item:nth-child(4) {
    display: none;
  }

  .feature__item-img {
    padding-top: 9px;
    margin-bottom: 27px;
    width: 231px;
    height: 219px;
  }
  .feature__item:nth-child(1) {
    margin-left: 75px;
  }

  .feature__item:nth-child(2) {
    margin-right: 78px;
  }

  .feature__item:nth-child(1)::after,
  .feature__item:nth-child(2)::after {
    display: none;
  }

  .feature__item-title {
    padding-left: 10px;
    margin-bottom: 18px;
    width: 100%;
    font: 20px/19px gotham_proregular, arial, helvetica, sans-serif;
  }

  .feature__wrapper {
    padding-left: 10px;
  }

  .feature__item-price {
    font: 25px/24px gotham_probold, arial, helvetica, sans-serif;
  }

  .feature__color {
    margin-top: -2px;
    width: 20px;
    height: 20px;
  }

  .feature__color {
    margin-right: 5px;
  }

  .feature__color:last-child {
    margin-right: 8px;
  }

  .feature__item:nth-child(2) .feature__color:last-child {
    margin-right: -7px;
  }

  .feature {
    margin-bottom: 47px;
  }

  .history {
    position: relative;
    width: 100%;
    flex-direction: column-reverse;
  }

  .history::before {
    position: absolute;
    content: ' ';
    display: block;
    height: 39px;
    top: -3%;
    left: -5%;
    bottom: -10px;
    transform: rotate(2.6deg);
    width: 110%;
    background-color: #fff;
    z-index: 1;
  }

  .history__title {
    text-align: center;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 22px;
    padding-right: 8px;
    font: 30px/28px gotham_probold, arial, helvetica, sans-serif;
  }

  .history__excerpt {
    margin-bottom: 17px;
    padding-right: 5px;
    text-align: center;
    font: 20px/25px gotham_proregular, arial, helvetica, sans-serif;
  }

  .history__link {
    display: none;
  }

  .history__inner {
    margin-top: 74px;
  }

  .history__video {
    width: 699px;
    height: 390px;
    margin-top: 12px;
    margin-left: 34px;
    margin-bottom: 58px;
  }
}

@media (max-width: 375px) {
  .header {
    margin-bottom: 14px;
  }

  .header__logo {
    margin-top: -9px;
    margin-left: 47px;
    background: no-repeat url(img/Axion-logo-1-s.png);
  }

  .line::before {
    height: 5px;
    width: 41px;
    top: 12px;
    right: 26px;
  }

  .line::after {
    height: 6px;
    width: 41px;
    top: 22px;
    right: 26px;
  }

  .banner {
    height: 191px;
    background-position: 19.2% 9%;
    background-size: 187%;
  }

  .banner__title {
    padding-top: 64px;
    padding-left: 48px;
    font: 20px/20px gotham_probold, arial, helvetica, sans-serif;
  }

  .banner__link {
    margin-top: 17px;
    padding-left: 48px;
    font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
  }

  .banner__link::after {
    background: no-repeat url('img/Arrow-124.png');
    top: 2px;
    left: 33.5%;
  }

  .feature__item:nth-child(2) {
    display: none;
  }

  .feature__title {
    margin-top: 36px;
    margin-right: 10px;
    margin-bottom: 0;
    font: 20px/19px gotham_probold, arial, helvetica, sans-serif;
  }

  .feature__item-img {
    margin-bottom: 24px;
    padding-left: 56px;
    padding-top: 2px;
    width: 168px;
    height: 154px;
  }

  .feature__item:nth-child(1) {
    margin-left: 51px;
  }

  .feature__item-title {
    padding-left: 12px;
    margin-bottom: 6px;
    font: 15px/14px gotham_proregular, arial, helvetica, sans-serif;
  }

  .feature__wrapper {
    padding-left: 12px;
  }

  .feature__item-price {
    font: 20px/19px gotham_probold, arial, helvetica, sans-serif;
  }

  .feature__color {
    margin-top: 4px;
    width: 15px;
    height: 15px;
  }

  .feature__color:last-child {
    margin-right: -8px;
  }

  .history::before {
    height: 50px;
  }

  .history__inner {
    margin-top: 68px;
  }

  .history__title {
    margin-top: 0;
    padding-right: 3px;
    margin-bottom: 15px;
    width: 80%;
    text-align: center;
    font: 20px/25px gotham_probold, arial, helvetica, sans-serif;
  }

  .history__excerpt {
    padding-right: 0px;
    padding-left: 19px;
    width: 88%;
    font: 14px/18px gotham_proregular, arial, helvetica, sans-serif;
  }

  .history__inner {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .history__video {
    width: 284px;
    height: 159px;
    margin-top: 9px;
    margin-left: 46px;
    margin-bottom: 58px;
  }
}

@media (max-width: 320px) {
  .header__logo {
    margin-top: -9px;
    margin-left: 21px;
  }

  .line::before,
  .line::after {
    right: -1px;
  }

  .banner {
    background-position: 24% 9%;
    background-size: 220%;
  }

  .banner__title {
    padding-left: 20px;
  }

  .banner__link {
    padding-left: 20px;
  }

  .banner__link::after {
    left: 30.5%;
  }

  .feature__item:nth-child(1) {
    margin-left: 23px;
  }

  .history__inner {
    width: 100%;
  }

  .history__video {
    margin-left: 18px;
  }
}
