body {
  width: auto;
  height: auto;
  font: 12px/11px gotham_proregular, arial, helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: #000;
}

.wrapper {
  margin: auto;
  width: 100%;
  max-width: 1170px;
}

.header {
  width: calc(100% - 140px);
  margin: 0 auto;
  padding-top: 28px;
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toggle,
.toggle-container {
  display: none;
}

.header__menu {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 55px;
  height: 55px;
  background: url('img/Axion-logo-1.svg') no-repeat center center;
}

.header__nav {
  margin-top: 21px;
  margin-left: 45px;
  display: flex;
  justify-content: space-between;
}

.menu__item {
  margin-right: 35px;
  text-transform: uppercase;
  text-decoration: none;
  font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
}

.menu__item:last-child {
  margin-right: 0;
}

.header__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-search {
  margin-left: 0;
}

.user-search form {
  padding-top: 11px;
  height: 20px;
  margin-right: 35px;
  display: flex;
}

.user-search input {
  width: 157px;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
}

.user-search button {
  width: 17px;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent url(img/loupe.svg) no-repeat center center;
}

.user-login {
  padding-top: 2px;
  margin-right: 35px;
  font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
}

.user-cart {
  padding-top: 4px;
  margin-right: 35px;
  font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
}

.user-cart span {
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
  font: 10px/15px gotham_probold, arial, helvetica, sans-serif;
}

.user-lang {
  width: 20px;
  height: 20px;
  background: no-repeat url('img/united-states.png') center;
  margin-top: 1px;
}

.banner {
  margin: 0 auto;
  margin-bottom: 51px;
  width: calc(100% - 140px);
  height: 281px;
  background: url('img/rob-potter-422534-unsplash.jpg');
}

.banner__title {
  margin: 0;
  width: 195px;
  padding-top: 89px;
  padding-left: 59px;
  font: 30px/29px gotham_probold, arial, helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.banner__link {
  position: relative;
  display: block;
  margin-top: 17px;
  padding-left: 59px;
  font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.banner__link::after {
  position: absolute;
  display: block;
  content: '';
  width: 43px;
  height: 100%;
  background: url('img/Arrow.png') no-repeat;
  top: 10%;
  right: 82.5%;
}

.feature {
  width: calc(100% - 140px);
  margin: 0 auto;
  margin-bottom: 53px;
}

.feature__title {
  text-align: center;
  font: 22px/21px gotham_probold, arial, helvetica, sans-serif;
  text-transform: uppercase;
}

.feature__inner {
  display: flex;
  justify-content: space-between;
}

.feature__decoration {
  width: 3px;
  background-image: url('img/decoration.png');
  opacity: 0.2;
  background-position: center center;
  background-repeat: no-repeat;
}

.feature__item {
  position: relative;
  width: 230px;
}

.feature__item:nth-child(1)::after {
  position: absolute;
  display: block;
  content: '';
  width: 1px;
  height: 100.18px;
  background: #000;
  top: 18%;
  right: -8.5%;
  opacity: 0.2;
}

.feature__item:nth-child(2)::after {
  position: absolute;
  display: block;
  content: '';
  width: 1px;
  height: 100.18px;
  background: #000;
  top: 18%;
  right: -8.5%;
  opacity: 0.2;
}

.feature__item:nth-child(3)::after {
  position: absolute;
  display: block;
  content: '';
  width: 1px;
  height: 100.18px;
  background: #000;
  top: 18%;
  right: -8.5%;
  opacity: 0.2;
}

.feature__item-img {
  padding-left: 23px;
  padding-top: 2px;
  margin-bottom: 27px;
}

.feature__item:nth-child(3) .feature__item-img {
  padding-right: 3px;
}

.feature__item:nth-child(4) .feature__item-img {
  padding-right: 19px;
}

.feature__item-title {
  margin: 0;
  margin-bottom: 6px;
  font: 12px/11px gotham_proregular, arial, helvetica, sans-serif;
}

.feature__item-title,
.feature__wrapper {
  padding-left: 12px;
}

.feature__wrapper {
  display: flex;
  justify-content: space-between;
}

.feature__item-price {
  font: 14px/14px gotham_probold, arial, helvetica, sans-serif;
}

.feature__item-colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature__color {
  margin-right: 8px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.feature__color:last-child {
  margin-right: 11px;
}

.active {
  width: 9px;
  height: 9px;
}

.color_grey {
  background-color: #c4c4c4;
}

.color_black {
  background-color: #0e1211;
}

.color_red {
  background: #b62e3c;
}

.color_yellow {
  background: #fdb431;
}

.color_orange {
  background: #e29d69;
}

.color_brown {
  background: #762e31;
}

.color_dark-blue {
  background: #41479b;
}

.color_blue {
  background: #257da9;
}

.history {
  margin: 0 auto;
  width: calc(100% - 140px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
}

.history__video {
  width: 644px;
  height: 362px;
  margin-top: 67px;
  margin-left: 33px;
  margin-bottom: 65px;
}

.history__inner {
  margin-top: 0;
  margin-left: 42px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.history__title {
  margin-top: 0;
  margin-bottom: 15px;
  color: #fff;
  font: 22px/27px gotham_probold, arial, helvetica, sans-serif;
  text-transform: uppercase;
}

.history__excerpt {
  margin: 0;
  margin-bottom: 21px;
  color: #fff;
  font: 14px/17px gotham_proregular, arial, helvetica, sans-serif;
}

.history__link {
  position: relative;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
}

.history__link::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: url(img/Arrow.png) no-repeat;
  top: 20%;
  right: -34.3%;
}

.news {
  width: calc(100% - 140px);
  margin: 0 auto;
}

.news__title {
  padding-top: 58px;
  margin-bottom: 44px;
  font: 22px/21px gotham_probold, arial, helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.news__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.news__item {
  width: 307px;
}

.news__item-image {
  height: 148px;
  margin-bottom: 29px;
}

.image-1024 {
  display: none;
}

.news__item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font: 18px/17px gotham_probold, arial, helvetica, sans-serif;
}

.news__item-text {
  margin-top: 1px;
  margin-bottom: 18px;
  font: 14px/17px gotham_proregular, arial, helvetica, sans-serif;
}

.news__item-inner {
  display: flex;
  justify-content: space-between;
}

.news__item-link {
  position: relative;
  font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.news__item-link::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: url('img/Arrow-sm-news.png') no-repeat;
  top: 18%;
  right: -109.5%;
}

.news__item-time {
  font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
  opacity: 0.3;
}

.gallery {
  width: calc(100% - 140px);
  margin: 0 auto;
  margin-bottom: 80px;
}

.gallery__title {
  margin-top: 79px;
  margin-bottom: 10px;
  font: 18px/17px gotham_probold, arial, helvetica, sans-serif;
  opacity: 0.3;
  text-transform: uppercase;
  text-align: right;
}

.gallery__inner {
  display: flex;
  justify-content: center;
}

.gallery__item:nth-child(8) {
  display: none;
}

footer {
  background-color: #000;
  color: white;
  display: block;
  height: 296px;
  left: 0;
}

.footer__wrapper {
  width: calc(100% - 140px);
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.account__title,
.services__title,
.miscellaneous__title,
.sign-up__title {
  margin-top: 69px;
  font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
  color: #fff;
}

.account {
  margin-left: 130px;
}

.services {
  margin-left: 41px;
}

.miscellaneous {
  margin-right: 11px;
}

.footer__item {
  margin-bottom: 7px;
}

.account__list,
.services__list,
.miscellaneous__list {
  padding-left: 0;
  list-style: none;
}

.sign-up {
  margin-right: 126px;
}

.sign-up__title {
  margin-bottom: 8px;
}

.sign-up__text {
  margin-top: 0;
  margin-bottom: 12px;
}

.sign-up__button {
  width: 136px;
  height: 30px;
  background: #000;
  border: 1.5px solid #fff;
  color: #fff;
  font: 10px/10px gotham_probold, arial, helvetica, sans-serif;
}

.social {
  width: 136px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 34px;
}

.social__item:nth-child(2) {
  padding-top: 3px;
}

.social__item:nth-child(3) {
  padding-right: 3px;
}

.social__item:nth-child(4) {
  padding-right: 0;
}

.copyrights {
  margin-top: 45px;
  padding-right: 4px;
  text-align: center;
}

@media (max-width: 1024px) {
  .header,
  .feature,
  .news,
  .gallery {
    width: calc(100% - 94px);
  }

  .header__logo {
    margin-left: 0;
    width: 61px;
    background: url('img/Axion-logo-102.png');
  }

  .header__nav {
    margin-left: 29px;
  }

  .user-search form {
    height: 23px;
    margin-right: 30px;
    padding-top: 7px;
  }

  .user-search input {
    width: 141px;
  }

  .user-login {
    margin-right: 27px;
  }

  .user-cart {
    margin-top: 0;
    margin-right: 27px;
  }

  .user-cart span {
    width: 14px;
  }

  .user-lang {
    width: 19px;
  }

  .header {
    margin-bottom: 42px;
  }

  .banner {
    margin: 0 auto;
    width: calc(100% - 94px);
    height: 254px;
    background: center url('img/rob-potter-422534-unsplash-1024.jpg') no-repeat;
  }

  .banner__title {
    padding-top: 75px;
    padding-left: 54px;
  }

  .banner__link {
    margin-top: 11px;
    padding-left: 54px;
  }

  .banner__link::after {
    right: 80.45%;
  }

  .feature__title {
    margin-top: 66px;
    margin-bottom: 20px;
  }

  .feature__item {
    width: 24.73%;
  }

  .feature__item-img {
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 19px;
    margin-bottom: 38px;
    width: 82.48%;
    height: auto;
  }

  .feature__item:nth-child(2) {
    padding-left: 39px;
  }

  .feature__item:nth-child(3) {
    padding-left: 36px;
  }

  .feature__item:nth-child(4) {
    padding-left: 42px;
  }

  .feature__item:nth-child(1)::after {
    right: -12.5%;
  }

  .feature__item:nth-child(2)::after {
    right: -9.5%;
  }

  .feature__item:nth-child(3)::after {
    right: -11.5%;
  }

  .feature__color {
    margin-right: 7px;
  }

  .feature__color:last-child {
    margin-right: 5px;
  }

  .feature__item:nth-child(3) .feature__color {
    margin-right: 8px;
  }

  .feature__item:nth-child(4) .feature__color {
    margin-right: 6px;
  }

  .feature__item:nth-child(3) .feature__color:last-child {
    margin-right: 5px;
  }

  .feature__item:nth-child(4) .feature__color:last-child {
    margin-right: 12px;
  }

  .feature__item:nth-child(4) .feature__item-title {
    padding-left: 6px;
  }

  .feature__item:nth-child(4) .feature__wrapper {
    padding-left: 6px;
  }

  .feature {
    margin-bottom: 79px;
  }

  .history {
    width: calc(100% - 94px);
  }

  .history__video {
    width: 579px;
    height: 325px;
    margin-top: 59px;
    margin-left: 30px;
    margin-bottom: 58px;
  }

  .history__inner {
    margin-top: -5px;
    margin-left: 38px;
    margin-right: 30px;
  }

  .history__title {
    margin-top: 0;
    margin-bottom: 9px;
  }

  .history__excerpt {
    margin-bottom: 17px;
    font: 13px/16px gotham_proregular, arial, helvetica, sans-serif;
  }

  .history__link::after {
    width: 43px;
    right: 43.7%;
  }

  .news__title {
    padding-top: 73px;
    padding-bottom: 0;
  }

  .news__item {
    width: 29.78%;
  }

  .image-1170 {
    display: none;
  }

  .image-1024 {
    display: block;
  }

  .news__item-image {
    width: 100%;
    height: auto;
    margin-bottom: 28px;
  }

  .news__item-title:nth-of-type(1) {
    margin-bottom: 12px;
  }

  .news__item-image:nth-of-type(2) {
    margin-bottom: 30px;
  }

  .news__item-text {
    margin-bottom: 24px;
    font: 13px/16px gotham_proregular, arial, helvetica, sans-serif;
  }

  .news__item-text:nth-of-type(1) {
    margin-bottom: 22px;
  }

  .news__item-link::after {
    right: -95.5%;
  }

  .gallery {
    margin-bottom: 94px;
  }

  .gallery__item {
    width: 14.3%;
    height: auto;
  }

  .gallery__title {
    margin-top: 91px;
    margin-bottom: 10px;
  }

  .account {
    margin-left: 57px;
  }

  .sign-up {
    margin-right: 53px;
  }
}

@media (max-width: 920px) {
  .header__logo {
    margin-top: 9px;
    margin-left: -4px;
    width: 156px;
    height: 34px;
    background: no-repeat url('img/Axion-logo-1.png');
  }

  .toggle-container {
    display: block;
    position: absolute;
    top: 16px;
    right: 21px;
  }

  .line::before {
    content: '';
    position: absolute;
    background: #000;
    height: 9px;
    width: 61px;
    top: 30px;
    right: 23px;
  }

  .line::after {
    content: '';
    position: absolute;
    top: 47px;
    right: 23px;
    background: #000;
    height: 9px;
    width: 61px;
  }

  .header__nav,
  .header__user {
    display: none;
    margin-top: -23px;
    margin-left: 26px;
  }

  .header__nav {
    margin: 0;
  }

  #toggle:checked ~ .header__nav {
    margin-top: 20px;
    margin-left: -80px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu__item {
    width: 400px;
    font: 40px/40px gotham_probold, arial, helvetica, sans-serif;
    margin: 0;
    margin-bottom: 10px;
  }

  #toggle:checked ~ .toggle-container > .line::after {
    transform: rotate(45deg);
    top: 30px;
  }

  #toggle:checked ~ .toggle-container > .line::before {
    transform: rotate(135deg);
    top: 30px;
  }

  .header {
    margin-bottom: 38px;
  }

  .banner {
    width: 100%;
    height: 416px;
    background-position: 17.2% 7%;
    background-size: 200%;
  }

  .banner__title {
    padding-top: 121px;
    padding-left: 44px;
    font: 50px/48px gotham_probold, arial, helvetica, sans-serif;
  }

  .banner__link {
    margin-top: 47px;
    padding-left: 44px;
    font: 20px/20px gotham_probold, arial, helvetica, sans-serif;
  }

  .banner__link::after {
    width: 80px;
    background: no-repeat url('img/Arrow-123.png');
    top: 3px;
    left: 22.5%;
  }

  .feature__title {
    margin-right: 16px;
    font: 30px/28px gotham_probold, arial, helvetica, sans-serif;
  }

  .feature__item {
    width: 40.15%;
  }

  .feature__item:nth-child(3) {
    display: none;
  }

  .feature__item:nth-child(4) {
    display: none;
  }

  .feature__item-img {
    padding-top: 9px;
    margin-bottom: 27px;
    width: 88%;
    height: auto;
  }

  .feature__item:nth-child(1) {
    margin-left: 27px;
  }

  .feature__item:nth-child(2) {
    padding-right: 30px;
    padding-left: 0;
  }

  .feature__item:nth-child(1)::after,
  .feature__item:nth-child(2)::after {
    display: none;
  }

  .feature__item-title {
    padding-left: 10px;
    margin-bottom: 18px;
    width: 100%;
    font: 20px/19px gotham_proregular, arial, helvetica, sans-serif;
  }

  .feature__wrapper {
    padding-left: 10px;
  }

  .feature__item-price {
    font: 25px/24px gotham_probold, arial, helvetica, sans-serif;
  }

  .feature__color {
    margin-top: -2px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }

  .feature__color:last-child {
    margin-right: 8px;
  }

  .feature__item:nth-child(2) .feature__color:last-child {
    margin-right: -7px;
  }

  .feature {
    margin-bottom: 73px;
  }

  .history {
    position: relative;
    width: 100%;
    flex-direction: column-reverse;
    clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0 100%);
  }

  .history__title {
    text-align: center;
    margin: 0 auto;
    padding-top: 17px;
    margin-bottom: 22px;
    padding-right: 8px;
    font: 30px/28px gotham_probold, arial, helvetica, sans-serif;
  }

  .history__excerpt {
    margin-bottom: 17px;
    padding-right: 5px;
    text-align: center;
    font: 20px/25px gotham_proregular, arial, helvetica, sans-serif;
  }

  .history__link {
    display: none;
  }

  .history__inner {
    margin-top: 74px;
  }

  .history__video {
    width: 91.01%;
    height: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 52px;
  }

  .news {
    position: relative;
    width: 100%;
    background: #000;
    margin: 0;
  }

  .news::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 25px;
    top: -13px;
    left: 0;
    background: #000;
  }

  .news__title {
    margin: 0;
    padding-top: 50px;
    margin-bottom: 44px;
    font: 30px/29px gotham_probold, arial, helvetica, sans-serif;
    color: #fff;
  }

  .news__item {
    width: 40.625%;
  }

  .news__item-image {
    margin-bottom: 28px;
    width: 100%;
    height: auto;
  }

  .news__item-image:nth-of-type(2) {
    margin-bottom: 30px;
  }

  .news__item:nth-of-type(1) {
    margin-left: 44px;
  }

  .news__item:nth-of-type(2) {
    margin-right: 44px;
  }

  .news__item:nth-of-type(3) {
    display: none;
  }

  .news__item-title {
    font: 25px/24px gotham_probold, arial, helvetica, sans-serif;
    color: #fff;
  }

  .news__item-title:nth-of-type(1) {
    margin-bottom: 9px;
  }

  .news__item-text {
    font: 20px/25px gotham_proregular, arial, helvetica, sans-serif;
    color: #fff;
  }

  .news__item-link {
    font: 20px/19px gotham_probold, arial, helvetica, sans-serif;
    color: #fff;
  }

  .news__item-link::after {
    background: url(img/Arrow-white-768.png) no-repeat;
    right: -109.5%;
  }

  .news__item-text:nth-of-type(1) {
    margin-bottom: 36px;
  }

  .news__item-time {
    padding-top: 3px;
    font: 15px/14px gotham_probold, arial, helvetica, sans-serif;
    color: #d1d1d1;
    opacity: 1;
  }

  .news__item:nth-child(1) .news__item-time:nth-of-type(1) {
    margin-right: -19px;
  }

  .news__inner {
    margin-bottom: 0;
    padding-bottom: 117px;
  }

  .gallery {
    position: relative;
    width: 100%;
    margin: 0;
    margin-bottom: 124px;
  }

  .gallery::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 25px;
    top: -13px;
    left: 0;
    background: #000;
  }

  .gallery__bg-decoration {
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 82%);
    z-index: -1;
  }

  .gallery__title {
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 13px;
    width: calc(100% - 88px);
    font: 30px/29px gotham_probold, arial, helvetica, sans-serif;
    color: #e8e8e8;
    opacity: 1;
  }

  .gallery__inner {
    margin: 0 auto;
    width: 88.54%;
    flex-wrap: wrap;
  }

  .gallery__item {
    width: 25%;
    height: auto;
  }

  .gallery__item:nth-child(8) {
    display: block;
  }

  .account__title,
  .services__title,
  .miscellaneous__title,
  .sign-up__title {
    margin-top: 58px;
  }

  .footer__wrapper {
    width: calc(100% - 88px);
  }

  .account {
    margin-left: 7px;
  }

  .services {
    margin-left: -9px;
  }

  .miscellaneous {
    margin-right: 3px;
  }

  .sign-up {
    width: 156px;
    margin-right: -1px;
  }

  .sign-up__title {
    text-align: justify;
    margin-bottom: 7px;
  }

  .sign-up__text {
    text-align: justify;
  }

  .sign-up__button {
    width: 143px;
    height: 26px;
  }

  .account__title,
  .services__title,
  .miscellaneous__title {
    margin-bottom: 10px;
  }

  .account__list,
  .services__list,
  .miscellaneous__list {
    margin-top: 0;
  }

  .social {
    width: 119px;
    margin-top: 28px;
  }

  .social__item:nth-child(2) {
    width: 16px;
    height: 13px;
  }

  .social__item:nth-child(3) {
    width: 16px;
    height: 16px;
  }

  .social__item:nth-child(4) {
    padding-right: 1px;
    width: 13px;
    height: 16px;
  }

  .copyrights {
    margin-top: 65px;
    padding-right: 0px;
  }
}

@media (max-width: 730px) {
  .banner__link::after {
    left: 27.5%;
  }

  .news__item:nth-child(2) .news__item-time:nth-of-type(1) {
    margin-right: -19px;
  }
}

@media (max-width: 649px) {
  .header {
    margin-bottom: 14px;
  }

  .header__logo {
    margin-top: -9px;
    margin-left: 1px;
    background: no-repeat url(img/Axion-logo-1-s.png);
  }

  .line::before {
    height: 5px;
    width: 41px;
    top: 12px;
    right: 26px;
  }

  .line::after {
    height: 6px;
    width: 41px;
    top: 22px;
    right: 26px;
  }

  .banner {
    height: 191px;
    background-position: 19.2% 9%;
    background-size: 187%;
  }

  .banner__title {
    padding-top: 64px;
    padding-left: 48px;
    font: 20px/20px gotham_probold, arial, helvetica, sans-serif;
  }

  .banner__link {
    margin-top: 17px;
    padding-left: 48px;
    font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
  }

  .banner__link::after {
    background: no-repeat url('img/Arrow-124.png');
    top: 2px;
    left: 33.5%;
  }

  .feature {
    width: 100%;
  }

  .feature__inner {
    margin-bottom: 73px;
    margin: 0 auto;
    width: 70.9%;
  }

  .feature__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .feature__item:nth-child(1) {
    width: 100%;
    margin-left: 4px;
  }

  .feature__item:nth-child(2) {
    display: none;
  }

  .feature__title {
    margin-top: 36px;
    margin-right: 10px;
    margin-bottom: 0;
    font: 20px/19px gotham_probold, arial, helvetica, sans-serif;
  }

  .feature__item-img {
    margin-bottom: 26px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    width: 63.15%;
    height: auto;
    align-self: center;
  }

  .feature__item-title {
    padding-left: 4px;
    margin-bottom: 6px;
    font: 15px/14px gotham_proregular, arial, helvetica, sans-serif;
  }

  .feature__wrapper {
    padding-left: 4px;
  }

  .feature__item-price {
    font: 20px/19px gotham_probold, arial, helvetica, sans-serif;
  }

  .feature__color {
    margin-top: 4px;
    width: 15px;
    height: 15px;
  }

  .feature__color:last-child {
    margin-right: -8px;
  }

  .history {
    clip-path: polygon(0% 0%, 100% 4%, 100% 100%, 0 100%);
  }

  .history::before {
    height: 50px;
  }

  .history__title {
    margin-top: 0;
    padding-top: 0;
    padding-right: 3px;
    margin-bottom: 15px;
    width: 80%;
    text-align: center;
    font: 20px/25px gotham_probold, arial, helvetica, sans-serif;
  }

  .history__excerpt {
    padding-right: 0;
    padding-left: 19px;
    width: 88%;
    font: 14px/18px gotham_proregular, arial, helvetica, sans-serif;
  }

  .history__inner {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
  }

  .history__video {
    width: 75.7%;
    height: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .news__title {
    padding-top: 47px;
    padding-right: 1px;
    margin-bottom: 28px;
    font: 20px/19px gotham_probold, arial, helvetica, sans-serif;
  }

  .news__inner {
    padding-bottom: 61px;
    justify-content: center;
  }

  .news__item-image:nth-of-type(2) {
    margin-bottom: 29px;
  }

  .news__item-title {
    font: 20px/19px gotham_probold, arial, helvetica, sans-serif;
  }

  .news__item-title:nth-of-type(1) {
    margin-bottom: 11px;
  }

  .news__item {
    width: 74.4%;
  }

  .news__item:nth-of-type(1) {
    margin-left: 0;
  }

  .news__item:nth-of-type(2) {
    display: none;
  }

  .news__item-text {
    font: 14px/17px gotham_proregular, arial, helvetica, sans-serif;
  }

  .news__item-link {
    font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
  }

  .news__item-text:nth-of-type(1) {
    margin-bottom: 26px;
  }

  .news__item-link::after {
    background: url(img/Arrow-375.png) no-repeat;
    right: -112.5%;
    top: 0;
  }

  .news__item:nth-child(1) .news__item-time:nth-of-type(1) {
    padding-top: 0;
    margin-right: 1px;
  }

  .gallery__bg-decoration {
    height: 318px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 94%);
  }

  .gallery__title {
    padding-top: 40px;
    padding-right: 18px;
    margin-bottom: 11px;
    font: 25px/24px gotham_probold, arial, helvetica, sans-serif;
  }

  .gallery__inner {
    width: 100%;
  }

  .gallery__item {
    width: 37.3%;
    height: auto;
  }

  .gallery__item:nth-child(1) {
    order: 0;
  }

  .gallery__item:nth-child(2) {
    order: 0;
  }

  .gallery__item:nth-child(3) {
    order: 3;
  }

  .gallery__item:nth-child(4) {
    display: none;
  }

  .gallery__item:nth-child(5) {
    order: 1;
  }

  .gallery__item:nth-child(6) {
    order: 0;
  }

  .gallery__item:nth-child(7) {
    order: 0;
  }

  .gallery__item:nth-child(8) {
    display: none;
  }

  .gallery::after {
    height: 50px;
  }

  .gallery {
    margin-bottom: 85px;
  }

  footer {
    height: 899px;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .account__title,
  .services__title,
  .miscellaneous__title,
  .sign-up__title {
    margin-top: 0;
    margin-bottom: 5px;
    font: 15px/14px gotham_probold, arial, helvetica, sans-serif;
  }

  .account__list,
  .services__list,
  .miscellaneous__list {
    font: 15px/14px gotham_proregular, arial, helvetica, sans-serif;
    text-align: center;
  }

  .footer__item {
    margin-bottom: 10px;
  }

  .account {
    margin-top: 38px;
    margin-left: 0;
    order: -1;
  }

  .miscellaneous {
    margin-top: 35px;
    margin-right: 0;
    order: -1;
  }

  .miscellaneous__title {
    padding-left: 4px;
    padding-bottom: 1px;
  }

  .miscellaneous__list .footer__item:nth-child(1) {
    margin-bottom: 7px;
  }

  .miscellaneous__list .footer__item:nth-child(2) {
    margin-bottom: 6px;
  }

  .miscellaneous__list .footer__item:nth-child(3) {
    margin-bottom: 6px;
  }

  .miscellaneous__list .footer__item:nth-child(4) {
    margin-bottom: 8px;
  }

  .miscellaneous__list .footer__item:nth-child(5) {
    margin-bottom: 5px;
  }

  .services {
    margin-top: 35px;
    margin-bottom: 34px;
  }

  .services__title {
    padding-left: 8px;
  }

  .services__list {
    padding-left: 6px;
  }

  .services__list .footer__item:nth-child(1) {
    margin-bottom: 7px;
  }

  .services__list .footer__item:nth-child(2) {
    margin-bottom: 6px;
  }

  .services__list .footer__item:nth-child(3) {
    margin-bottom: 6px;
  }

  .services__list .footer__item:nth-child(4) {
    margin-bottom: 7px;
  }

  .services__list .footer__item:nth-child(5) {
    margin-bottom: 6px;
  }

  .sign-up {
    margin: 0 auto;
    width: 180px;
  }

  .sign-up__title {
    padding-left: 2px;
    margin-bottom: 11px;
  }

  .sign-up__text {
    margin-bottom: 22px;
    font: 15px/14px gotham_proregular, arial, helvetica, sans-serif;
    text-align: center;
  }

  .sign-up__button {
    display: block;
    margin: 0 auto;
    margin-bottom: 103px;
    width: 150px;
    height: 37px;
    font: 12px/11px gotham_probold, arial, helvetica, sans-serif;
  }

  .social {
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
  }

  .social__item:nth-child(1) img {
    margin-left: 5px;
    width: 10px;
    height: 20px;
  }

  .social__item:nth-child(2) img {
    margin-left: -7px;
    width: 22px;
    height: 18px;
  }

  .social__item:nth-child(3) img {
    margin-left: -10px;
    margin-top: 1px;
    width: 22px;
    height: 22px;
  }

  .social__item:nth-child(4) img {
    margin-top: 1px;
    margin-left: -11px;
    margin-right: 5px;
    width: 17px;
    height: 22px;
  }

  .copyrights {
    margin-top: 29px;
    font: 13px/12px gotham_proregular, arial, helvetica, sans-serif;
  }
}

@media (max-width: 360px) {
  .header__logo {
    margin-top: -9px;
    margin-left: -27px;
  }

  .line::before,
  .line::after {
    right: -1px;
  }

  .banner {
    background-position: 24% 9%;
    background-size: 220%;
  }

  .banner__title {
    padding-left: 20px;
  }

  .banner__link {
    padding-left: 20px;
  }

  .banner__link::after {
    left: 30.5%;
  }

  .feature {
    width: 100%;
    margin-bottom: 76px;
  }

  .feature__inner {
    width: 81.9%;
    padding-left: 0;
  }

  .feature__item:nth-child(1) {
    margin-left: 1px;
  }

  .history {
    clip-path: polygon(0% 0%, 100% 3%, 100% 100%, 0 100%);
  }

  .history::before {
    height: 50px;
  }

  .history__inner {
    margin-top: 39px;
    width: 100%;
  }

  .history__video {
    width: 88.7%;
  }

  .news__item {
    width: 86.4%;
  }

  .gallery {
    margin-bottom: 83px;
  }

  .gallery__bg-decoration {
    height: 318px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 95%);
  }

  .gallery__title {
    margin-bottom: 11px;
    font-family: gotham_probold, arial, helvetica, sans-serif;
    font-size: 7.67vw;
    line-height: 24px;
    text-align: center;
  }

  .gallery__inner {
    width: 100%;
  }

  .gallery__item {
    width: 44.1%;
  }
}
